<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="rim" class="com.hedgehogs.entities.Rim" />
	<bean id="lenses" class="com.hedgehogs.entities.Lenses" />
	<bean id="lensesRepository" class="com.hedgehogs.repositories.LensesRepository" />
	<bean id="lensesService" class="com.hedgehogs.services.LensesService">
		<property name="lensesRepository">
			<ref bean="lensesRepository" />
		</property>
	</bean>
	<bean id="glasses" class="com.hedgehogs.entities.Glasses">
		<property name="lenses">
			<ref bean="lenses" />
		</property>
		<property name="rim">
			<ref bean="rim" />
		</property>
		<property name="lensesService">
			<ref bean="lensesService" />
		</property>
	</bean>
</beans>
